/**
 * base css
 */
html {
	font-size: 14px;
}

body {
	font: 1rem 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'STHeiti Light [STXihei]', 'Microsoft Yahei', sans-serif;
	position: relative;
	color: #666;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ul,
ol,
th,
td,
button,
figure,
input,
textarea,
form {
	margin: 0;
	padding: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}

.ml10 {
	margin-left: 10px;
}
.ml20 {
	margin-left: 20px;
}

.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}
.pt50 {
    padding-top: 50px;
}
